.wrapper {
    margin: 50px 0px 50px 0px;
    position: relative;
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewport {
    overflow: hidden;
    width: 85%;
    height: 70vh;
}

.track {
    display: flex;
    height: 100%;
    transition: transform 0.6s ease;
}

.item {
    position: relative;
    flex: 0 0 20%;
    height: 100%;
    filter: brightness(0.45);
    transition: filter 0.4s ease, transform 0.4s ease;
}

.item:hover {
    filter: brightness(1);
    transform: scale(1.03);
    z-index: 2;
}

.image {
    object-fit: cover;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 70%;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.4));
    border: none;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease, opacity 0.3s ease;
    opacity: 0.85;
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.85);
}

.left {
    left: 60;
}

.right {
    right: 60;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 40px);
    padding: 5px 20px 50px 20px;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.645),
            transparent);
    color: white;
    transform: translateY(100%);
    transition: transform 0.4s ease;
}

.item:hover .overlay {
    transform: translateY(0);
}

.overlay h4 {
    margin: 0 0 8px 0;
    font-size: 3rem;
    font-weight: 100;
    font-family: var(--font-bjorke), sans-serif;
}

.overlay p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.4;
    opacity: 0.9;
}