.page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-image: url("../../../../public/images/background-characterCreation.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-color: #000000;
}

.page>* {
    position: relative;
    z-index: 2;
}

.title {
    font-size: 3rem;
    font-weight: 100;
    font-family: var(--font-bjorke), sans-serif;
    color: #BE8D52;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

.card {
    width: calc(40% - 100px);
    height: calc(80vh - 100px);
    padding: 50px;
    background-color: #00000060;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid #FFFFFF30;
    overflow: scroll;
}

.card::-webkit-scrollbar{
    display: none;
}

.creationForm {
    width: 100%;
}

.topSection {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
}

.imageInput {
    width: 40%;
    display: flex;
    justify-content: center;
}

.uploadBox {
    width: 100%;
    height: 400px;
    border-radius: 16px;
    border: 2px dashed rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.4);
}

.uploadBox:hover {
    border-color: #be8d52;
    background: rgba(0, 0, 0, 0.55);
}

.uploadPreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}

.uploadIcon {
    font-size: 3rem;
    margin-bottom: 10px;
}

.uploadText {
    color: #ccc;
    font-size: 0.9rem;
    text-align: center;
}

.uploadButton {
    margin-top: 10px;
    padding: 6px 16px;
    background: #be8d52;
    border: none;
    border-radius: 6px;
    color: #000;
    cursor: pointer;
}

.inputSection {
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    flex-direction: column;
}

.inputContainer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    flex-direction: column;
}

.inputContainer p {
    font-size: 1rem;
    color: #BE8D52;
    font-weight: bold;
}

.inputContainer input {
    width: calc(100% - 10px);
    height: 38px;
    padding-left: 10px;
    border-radius: 8px;
    background: #1c1c1c;
    color: white;
    border: 1px solid #444;
    outline: none;
}

.inputContainer input:focus {
    border-color: #be8d52;
    box-shadow: 0 0 0 2px rgba(190, 141, 82, 0.25);
}


.selectWrapper {
    position: relative;
    width: 100%;
}

.selectWrapper::after {
    content: "▾";
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #c7a76c;
    font-size: 14px;
}

.selectWrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 100%;
    padding: 10px 40px 10px 12px;

    background: #1c1c1c;
    color: white;

    border: 1px solid #444;
    border-radius: 8px;

    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.selectWrapper select:hover {
    background-color: rgba(30, 30, 30, 0.95);
    border-color: rgba(255, 255, 255, 0.35);
}

.selectWrapper select:focus {
    outline: none;
    border-color: #be8d52;
    box-shadow: 0 0 0 2px rgba(190, 141, 82, 0.25);
}

.selectWrapper select option {
    background-color: #1b1b1b;
    color: #fff;
}


.details{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.details h3{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 100;
}

.statsGrid{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.statBox{
    width: 13%;
    height: 50px;
    background-color: #BE8D52;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
}

.statBox span{
    color: #FFFFFF;
    font-size: .8rem;
    font-weight: bold;
}


.description{
    width: 80%;
    font-size: .9rem;
    text-align: center;
}

.empty{
    width: 100%;
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF80;
}

.creationForm button{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.info{
    width: 100%;
    text-align: center;
    font-size: .7rem;
    color: #BE8D52;
    font-weight: bold;
}