.footer {
    width: calc(100% - 80px);
    padding: 40px;
    min-height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ffffff2f;
}

.footer img {
    height: 80%;
    width: auto;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.navTitle {
    font-size: 2rem;
    font-family: var(--font-bjorke), sans-serif;
    margin-bottom: 10px;
    color: #BE8D52;
}

.nav button {
    background: transparent;
    border: none;
    color: inherit;
    text-align: left;
    padding: 2px 10px 2px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease, transform 0.2s ease;
    font-family: var(--font-inter), sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav button:hover {
    background-color: rgb(45, 45, 45);
    transform: translateX(4px);
}

.words{
    width: 20%;
}
.words p{
    font-family: var(--font-bjorke), sans-serif;
    font-size: 3rem;
}