.navbar {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: linear-gradient(to bottom,
            rgba(19, 19, 19, 0.738),
            rgba(19, 19, 19, 0));
    backdrop-filter: blur(2px);
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    transition: .2s;
    font-family: var(--font-bjorke), sans-serif;
    font-weight: 100;
    font-size: 1.6rem;
}

.navbar a:hover{
    color: rgba(255, 255, 255, 0.263);
    transition: .2s;
}

.logoContainer {
    width: 10%;
    height: 80%;
    padding-left: 20px;
}

.logoContainer img {
    width: auto;
    height: 100%;
}


.buttonContainer {
    width: 10%;
}

.buttonContainer button {
    width: calc(100% - 20px);
    height: 80%;
    font-size: 1.8rem;
}
