.main {
    width: 100%;
    height: 100vh;
    background-color: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.formContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formContainer h1 {
    font-size: 7rem;
}

.formContainer h3 {
    font-size: 4rem;
    color: #FFFFFF;
}

.form {
    width: 50%;
    height: auto;
    min-height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.googleButton {
    width: 100%;
    padding-bottom: 5px;
    background-color: #FFFFFF;
    position: relative;
}

.googleButton:hover {
    background-color: #e2e2e2;
    color: rgba(89, 89, 89, 0.75);
}

.googleButton img {
    position: absolute;
    left: 16px;
}

.googleButton span {
    font-family: var(--font-inter), sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(89, 89, 89, 0.554);
}

.divider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.line {
    min-height: 0px;
    min-width: 45%;
    border: 1px solid #FFFFFF;
    margin: 20px 0px 20px 0px;
}

.divider p {
    font-size: 1.1rem;
}

.inputContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.inputContainer p {
    font-size: 1.1rem;
}

.inputContainer input {
    width: calc(100% - 20px);
    height: 40px;
    padding: 0px 10px 0px 10px;
    color: #131313;
    border-radius: 5px;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    width: 100%;
}

.checkbox p {
    font-size: 1rem;
}

.form button {
    width: 100%;
}

.redirect {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 7px;
    font-size: .85rem;
}

.redirect a {
    color: #BE8D52;
}

.background {
    width: 50%;
    height: 100vh;
    position: relative;

    background-image: url("/images/background-login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: #131313;
    /* fallback inmediato */
}

.background::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(to right,
            rgb(13, 13, 13),
            rgba(19, 19, 19, 0));

    z-index: 1;
    pointer-events: none;
}