.page {
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #131313;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;

    background-image: url("../../public/images/Background-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(to top,
            rgba(13, 13, 13, 1),
            rgba(19, 19, 19, 0));

    z-index: 1;
    pointer-events: none;
}

.hero h1,
.hero button {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 12rem;
    font-weight: 100;
    margin: 0;
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.hero button {
    min-width: 400px;
    min-height: 60px;
}



.section2 {
    width: calc(95% - 80px);
    height: 50vh;
    padding: 40px;
    border-radius: 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.textSection {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.textSection h3 {
    font-size: 4rem;
}

.slogan {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.slogan h4 {
    font-size: 3.3rem;
    font-weight: 100;
    font-family: var(--font-bjorke), sans-serif;
}

.texts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.texts p {
    font-size: 1rem;
    color: #ffffffc2;
    width: 48%;
}

.section2 img {
    height: 100%;
    object-fit: contain;
}